### Q1) Calculate the sum of digits in a given number using a for loop.

In [1]:
n = int(input("Enter the numbers:- "))
add = 0
for i in str(n):
    add = add+int(i)
print(add)

Enter the numbers:-  123

6

### Q2) Generate a multiplication table for a given number using a for loop.

In [4]:
n = int(input("Enter the numbe:- "))
for i in range(1,11):
    x = n*i
    print(x)

Enter the numbe:-  5

5
10
15
20
25
30
35
40
45
50

### Q3) Print a triangle of asterisks using a for loop.

In [23]:
n = 5
for i in range(1,n+1):
    print('*'*i)

*
**
***
****
*****

### Q4) Count the number of vowels in a given string using a for loop.

In [30]:
s = input("Enter the string:- ")
c = 0
for i in s:
    if i.lower() in 'aeiou':
        c = c+1
print(c)

Enter the string:-  ain

2

### Q5) Calculate the average of a list of numbers using a for loop

In [37]:
l = [5,8,12,3,9]
av = 0
for i in l:
    av = av+i
av = av = av/len(l)
print(l)
print(av)

[5, 8, 12, 3, 9]
7.4

### Q6) Print the factorial of a given number using a for loop.

In [39]:
f = int(input("Enter the number:- "))
fa = 1
for i in range(1,f+1):
    fa = fa*i
print(fa)

Enter the number:-  5

120

### Q7) Calculate the sum of all odd numbers from 1 to 20 using a for loop.

In [43]:
n = 0
for i in range(1,21):
    if i % 2 == 1:
        n = (i+n)
print(n)

100

In [46]:
x = 0
for i in range(1, 21, 2):
    x += i
print(x)

100

### Q8) Print the elements of a list in reverse order using a for loop.

In [60]:
l = []
y = []
x = int(input("Enter the number of elements you want:-" ))
for i in range(x):
    e = int(input("enter element {}:- ".format(i+1)))
    l.append(e)

for j in range(len(l)-1,-1,-1):
        y.append(l[j])
print(l)
print(y)

Enter the number of elements you want:- 5
enter element 1:-  312
enter element 2:-  5447
enter element 3:-  234
enter element 4:-  46
enter element 5:-  86

[312, 5447, 234, 46, 86]
[86, 46, 234, 5447, 312]