# Day - 3

## Topics going to be cover on Day-2
- Continue working with list
- Exploring loop with list, list Slicing and List Comprehension
- range()
- Tuple
- statistical operation
- Solved some questions related to List and Tuple

## Looping Through an Entire List

In [1]:
names = ['Aniruddh', 'Abhijit', 'Sidhika', 'Ujjwal']
print(names)

['Aniruddh', 'Abhijit', 'Sidhika', 'Ujjwal']

In [2]:
for name in names: ## in this for loop the python get commond that pull the names from the list names varible and associat it to the new vaible name
    print(name) # telling python to repet the for loop till all the elements from the list get priented

Aniruddh
Abhijit
Sidhika
Ujjwal

### using f string with list and loop

In [3]:
names = ['Aniruddh', 'Abhijit', 'Sidhika', 'Ujjwal']
for name in names:
    print(f"{name.title()}, How are you")

Aniruddh, How are you
Abhijit, How are you
Sidhika, How are you
Ujjwal, How are you

In [4]:
names = ['Arjun', 'Arun', 'Akash']
for name in names:
    print(f"{name.title()}, How are you")
    print(f"How was your trip {name.title()}\n")

Arjun, How are you
How was your trip Arjun

Arun, How are you
How was your trip Arun

Akash, How are you
How was your trip Akash

### Doing Something After a for Loop

In [5]:
names = ['Arjun', 'Arun', 'Akash']
for name in names:
    print(f"{name.title()}, How are you")
    print(f"How was your trip {name.title()}\n")
print("Thank You for seeing this message")

Arjun, How are you
How was your trip Arjun

Arun, How are you
How was your trip Arun

Akash, How are you
How was your trip Akash

Thank You for seeing this message

## Using range() function in list
Python’s range() function makes it easy to generate a series of numbers.

In [6]:
range(10)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
list(range(0:11:2)) # you cant do jumping in theis way range function

SyntaxError: invalid syntax (555971211.py, line 1)

In [11]:
list(range(0,11,2)) # Jumping in the range function

[0, 2, 4, 6, 8, 10]

In [12]:
list(range(10,0)) # invalid range

[]

In [13]:
list(range(10,45,3))

[10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43]

In [14]:
list(range(0,50,10))

[0, 10, 20, 30, 40]

In [15]:
x = list(range(100,201,10))
print(x)

[100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [16]:
x = list(range('a','d')) ## the range function will only take numbers not string
print(x)

TypeError: 'str' object cannot be interpreted as an integer

In [17]:
x = list(range(1.6,45.6)) ## the range function will only take numbers not string and not float it takes only whole numbers
print(x)

TypeError: 'float' object cannot be interpreted as an integer

In [18]:
range(10)

range(0, 10)

### Using loop in range

In [19]:
for value in range(10):
    print(value)

0
1
2
3
4
5
6
7
8
9

In [20]:
for value in range(0,11):
    print(value)

0
1
2
3
4
5
6
7
8
9
10

In [21]:
for value in range(0,11,2):
    print(value)

0
2
4
6
8
10

In [22]:
for value in range(0,11,3):
    print(value)

0
3
6
9

In [23]:
for x in range(-1,-5):
    print(x)

In [24]:
for x in range(1,5):
    print(x)

1
2
3
4

In [25]:
for x in range(1,-1):
    print(x)

In [26]:
for x in list(range(0,10)):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [27]:
for x in range(0,11):
    y = x
    print(y)

0
1
2
3
4
5
6
7
8
9
10

### Appending the blank list using loop and range() function

In [28]:
squar = []
for x in range(0,11):
    sq = x**2
    squar.append(sq)
    print(squar)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
squar = []
for x in range(0,11):
    sq = x**2
    squar.append(sq)
print(squar)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
squar = []
for x in range(0,11):
   ## sq = x**2
    squar.append(x)
    print(squar)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
squar = []
for x in range(0,11):
   ## sq = x**2
    squar.append(x)
print(squar)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
squar = []
for x in range(0,11):
    sq = x**2
    squar.append(sq)
print(squar)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
squar = []
for x in range(0,11):
    squar.append(x**2)
print(squar)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Simple Statistics with a List of Numbers

In [34]:
x = []
for i in range(0,40):
    x.append(i)
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [35]:
min(x)

0

In [36]:
max(x)

39

In [37]:
sum(x)

780

### List Comprehensions

In [38]:
name = ['Golu', 'Abhijit', 'Kshitij', 'Vaibhav']
new = [x for x in name]
new

['Golu', 'Abhijit', 'Kshitij', 'Vaibhav']

In [39]:
new2 = [x for x in range(10)]
new2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
new3 = [x for x in name if x == "Golu"]

In [41]:
new3

['Golu']

In [42]:
new3 = [x for x in name if x != "Golu"]

In [43]:
new3

['Abhijit', 'Kshitij', 'Vaibhav']

In [44]:
new4 = [x for x in range(0,11) if x<12]

In [45]:
new4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
new4 = [x**2 for x in range(0,11) if x<12]

In [47]:
new4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
new4 = [x+2 for x in range(0,11) if x<12]

In [49]:
new4

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [50]:
x = ['a', 'b', 'c']
y = x[:] ## this method helps me to copy the list without distroying the orignal list
print(x)
print(y)

['a', 'b', 'c']
['a', 'b', 'c']

### Using loop in list Sliceing

In [51]:
name

['Golu', 'Abhijit', 'Kshitij', 'Vaibhav']

In [52]:
for nams in name[0:3]:
    print(nams)

Golu
Abhijit
Kshitij

In [53]:
for nams in name[-1]:
    print(nams)

V
a
i
b
h
a
v

In [54]:
for nams in name[::-1]:
    print(nams)

Vaibhav
Kshitij
Abhijit
Golu

## Tuple
Tuple is like list but immutable we can not do any changes in tuple

In [55]:
x = ('Aniruddh', 'Ayush','Kshitij', 'Vaibhav', 'Abhijt', 'Ujjwal')
x

('Aniruddh', 'Ayush', 'Kshitij', 'Vaibhav', 'Abhijt', 'Ujjwal')

### Accessing the tuple using indexing

In [56]:
x[0]

'Aniruddh'

In [57]:
x[-1]

'Ujjwal'

In [58]:
x[3:]

('Vaibhav', 'Abhijt', 'Ujjwal')

In [59]:
x[2:4]

('Kshitij', 'Vaibhav')

In [60]:
x[::-1]

('Ujjwal', 'Abhijt', 'Vaibhav', 'Kshitij', 'Ayush', 'Aniruddh')

### loop in tuple

In [61]:
for i in x:
    print(i)

Aniruddh
Ayush
Kshitij
Vaibhav
Abhijt
Ujjwal

In [62]:
# In this way we can update the tuple but it is done by assining the tuple as a list and then assining it back to tuple
x = ("apple", "banana", "cherry")
y = list(x)
y.append('kiwi')
x = tuple(y)
x

('apple', 'banana', 'cherry', 'kiwi')

### Q1) Pizzas: Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.
- Modify your for loop to print a sentence using the name of the pizza  instead of printing just the name of the pizza. For each pizza you should have one line of output containing a simple statement like I like pepperoni pizza.
- Add a line at the end of your program, outside the for loop, that states how much you like pizza. The output should consist of three or more lines about the kinds of pizza you like and then an additional sentence, such as I really love pizza!

In [63]:
pizza = ['four Cheese pizza', 'Mixican Pizza', 'Margherita Pizza']
for i in pizza:
    print(f"I love to eat {i}")
print("I really love pizza!")

I love to eat four Cheese pizza
I love to eat Mixican Pizza
I love to eat Margherita Pizza
I really love pizza!

### Q2) Animals: Think of at least three different animals that have a common characteristic. Store the names of these animals in a list, and then use a for loop to print out the name of each animal.
- Modify your program to print a statement about each animal, such as A dog would make a great pet.
- Add a line at the end of your program stating what these animals have in common. You could print a sentence such as Any of these animals would make a great pet!

In [64]:
animal = ['tiger', 'lion', 'cheeta']
for i in animal:
    print(f"A {i} is from a cat family")
print("This all animals are from cat family")

A tiger is from a cat family
A lion is from a cat family
A cheeta is from a cat family
This all animals are from cat family

### Q3) Counting to Twenty: Use a for loop to print the numbers from 1 to 20, inclusive

In [65]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### Q4) One Million: Make a list of the numbers from one to one million, and then use a for loop to print the numbers. (If the output is taking too long, stop it by pressing ctrl-C or by closing the output window.)

In [1]:
x = list(range(1,1000000))
for i in x:
    print(i)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

KeyboardInterrupt:

### Q5) Summing a Million: Make a list of the numbers from one to one million, and then use min() and max() to make sure your list actually starts at one and ends at one million. Also, use the sum() function to see how quickly Python can add a million numbers.

In [66]:
x = list(range(1,10000001))
print(min(x))
print(max(x))
print(sum(x))

1
10000000
50000005000000

### Q6) . Odd Numbers: Use the third argument of the range() function to make a list of the odd numbers from 1 to 20. Use a for loop to print each number.

In [67]:
x = list(range(1,20,2))
for i in x:
    print(i)

1
3
5
7
9
11
13
15
17
19

### Q7) Threes: Make a list of the multiples of 3 from 3 to 30. Use a for loop to print the numbers in your list.

In [68]:
x = []
for i in range(3,31,3):
    y = x.append(i)
print(x)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

### Q8) Cubes: A number raised to the third power is called a cube. For example, the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.

In [69]:
x = []
for i in range(1,11):
    y = x.append(i**3)
print(x)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### Q9) Cube Comprehension: Use a list comprehension to generate a list of the first 10 cubes.

In [70]:
cube = [x**3 for x in range(0,11)]
cube

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### Q10) Slices: Using one of the programs you wrote in this chapter, add several lines to the end of the program that do the following:
- Print the message The first three items in the list are:. Then use a slice to print the first three items from that program’s list.
- Print the message Three items from the middle of the list are:. Use a slice toprint three items from the middle of the list.
- Print the message The last three items in the list are:. Use a slice to print the last three items in the list.

In [71]:
name = ['a', 'b', 'c', 'd','e','f','g']
print("The first three items in the list are: ")
print(name[0:3])

The first three items in the list are:
['a', 'b', 'c']

In [72]:
print("Three items from the middle of the list are: ")
print(name[2:5])

Three items from the middle of the list are:
['c', 'd', 'e']

In [73]:
print("The last three items in the list are: ")
print(name[4:])

The last three items in the list are:
['e', 'f', 'g']

### Q11) Make a copy of the list of pizzas, and call it friend_pizzas.Then, do the following:
- Add a new pizza to the original list.
- Add a different pizza to the list friend_pizzas.
- Prove that you have two separate lists. Print the message My favorite 
  pizzas are:, and then use a for loop to print the first list. Print the message 
  My friend’s favorite pizzas are:, and then use a for loop to print the second list. Make sure each new pizza is stored in the appropriate list.

In [74]:
pizza
pizza2 = pizza[:]
pizza.append("veggie Pizza")
print("my favorite pizza are:")
for i in pizza:
    print(i)
print("\n")
print("my firend my favorite pizza are:")
for i in pizza2:
    print(i)

my favorite pizza are:
four Cheese pizza
Mixican Pizza
Margherita Pizza
veggie Pizza


my firend my favorite pizza are:
four Cheese pizza
Mixican Pizza
Margherita Pizza

### Q12) Buffet: A buffet-style restaurant offers only five basic foods. Think of five simple foods, and store them in a tuple.
- Use a for loop to print each food the restaurant offers.
- Try to modify one of the items, and make sure that Python rejects the change.
- The restaurant changes its menu, replacing two of the items with different foods. Add a line that rewrites the tuple, and then use a for loop to print each of the items on the revised menu

In [75]:
buffet = ("Noodles","Veg Lollipop","Non Veg. Lollipop","Machurian","Soup")
for i in buffet:
    print(i)

Noodles
Veg Lollipop
Non Veg. Lollipop
Machurian
Soup

In [76]:
buffet[0] = "Non Veg. soup"

TypeError: 'tuple' object does not support item assignment

In [77]:
buffet2 = ("Noodles","Veg Lollipop","Non Veg. Lollipop","Machurian","mix Veg", "xyz")
print("our menu has chaged")
for i in buffet2:
    print(i)

our menu has chaged
Noodles
Veg Lollipop
Non Veg. Lollipop
Machurian
mix Veg
xyz